package com.hytsnbr.steam_tool.dto;

@Getter
@Setter
public class ${className}Request {
#foreach($param in $params)

    #if(${param.required} == "true")
    @NotNull
    #end
@JsonProperty("${param.jsonPropertyName}")
private ${param.type} ${param.name};
#end
}
