package com.hytsnbr.steam_tool.dto;

@Getter
@Setter
public class ${className}Request {
#foreach($param in $params)

    #if(${param.required} == "true")
    @NotNull
    #end
@JsonProperty("${param.jsonPropertyName}")
    #if(${param.typeAsList} == "true")
    private List<${param.type}> ${param.name};
    #else
    private ${param.type} ${param.name};
    #end
#end
}
